
<!--breadcrumb and text content start-->

<div class="container">
    <h1 class="mt-3 mb-3">About Nature</h1>
    
     <nav aria-label="breadcrumb">
       <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#">Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">About us</li>
       </ol>
     </nav>
 
     <div class="row">
        <div class="col-md-6">
           <img src="../../../assets/images/about.jpg" alt="img-1" class="img-fluid">
        </div>
 
       <div class="col-md-6">
          <h2>Beyond the nature</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
             Sed voluptate nihil eum consectetur similique? Consectetur,
             quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem
             perferendis dicta dolorem non blanditiis ex fugiat.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
             Sed voluptate nihil eum consectetur similique? Consectetur,
             quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem
             perferendis dicta dolorem non blanditiis ex fugiat.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
             Sed voluptate nihil eum consectetur similique? Consectetur,
             
          </p>
       </div>
     </div>
 
 <!--breadcrumb and text content end-->

 
<!--Our Team start-->

<h2 class="mt-3 mb-3">Our Team</h2>
    
<div class="row">
  <div class="col-md-4">
     <div class="card">
        <img src="../../../assets/images/t1.jpg" class="card-img-top " alt="..." style="width: 100%;">
        <div class="card-body text-center">
           <h5 class="card-title">Team Member</h5>
           <h6 style="color: #6c757d;">Position</h6>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
        </div>
  
        <div class="card-foot text-center" style="background-color: lightgrey; padding: 10px;">
           <a href="#" class="card-link ">John@gmail.com</a>
  
        </div>
     </div>
  </div>

   <div class="col-md-4">
     <div class="card">
        <img src="../../../assets/images/t2.jpg" class="card-img-top " alt="..." style="width: 100%;">
        <div class="card-body text-center">
          <h5 class="card-title">Team Member</h5>
          <h6 style="color: #6c757d;">Position</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        
        <div class="card-foot text-center" style="background-color: lightgrey; padding: 10px;">
          <a href="#" class="card-link ">John@gmail.com</a>
          
        </div>
     </div>
   </div>

   <div class="col-md-4">
     <div class="card">
        <img src="../../../assets/images/t3.jpg" class="card-img-top " alt="..." style="width: 100%;">
        <div class="card-body text-center">
          <h5 class="card-title">Team Member</h5>
          <h6 style="color: #6c757d;">Position</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        
        <div class="card-foot text-center" style="background-color: lightgrey; padding: 10px;">
          <a href="#" class="card-link ">John@gmail.com</a>
          
        </div>
      </div>
   </div>
</div>

<!--Our Team End-->

</div>
