
<!--Footer start-->

<div class="jumbotron mb-0 mt-4 p-4" style="border-radius: 0;">
    
    <div class="row">
       <div class="col-md-6">
          <h3>Search</h3>
          <ul class="navbar-nav ml-auto">
 
             <li >
                <a routerLink="/home" class="nav-link " style="color: gray;" > Home</a>
             </li>
       
             <li >
                <a routerLink="/about" class="nav-link" style="color: gray;"> About us</a>
             </li>
        
           </ul>
       </div>
 
       <div class="col-md-6">
          <h3>Contact Us</h3>
          <p style="color: gray;">
            Ashutosh Apartment, First Floor, Flat No 4 Lane No 6, Karve Rd, near Cummins Circle/Deoyani Hospital, Dahanukar Colony, Kothrud, Pune, Maharashtra 411052
             <br>
             Phone: 090286 86256
          </p>
       </div>
    </div>
 
 </div>
 
 <!--Footer End-->
 
