<!--  Navbar Sart  -->  

<nav class="navbar navbar-expand-md  navbar-light sticky-top" style="background-color:#ffffff; box-shadow: 0px 0px 8px #888888;">
 
    <div class="container-fluid">
   
     <a href="#" class="navbar-brand"><h4 style="color: #239B56;">Nature</h4></a>
   
     <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
       <span class="navbar-toggler-icon"></span>
     </button>
     
     <div class="navbar-collapse collapse" id="navbarResponsive">
       
       <ul class="navbar-nav ml-auto">
   
         <li class="nav-item">
            <a routerLink="/home" class="nav-link"> Home</a>
         </li>
   
         <li class="nav-item">
            <a routerLink="/about" class="nav-link"> About us</a>
         </li>
         
         <!-- <li class="nav-item">
            <a href="services.html" class="nav-link"> Services</a>
         </li>
          -->
<!--    
   <div class="dropdown">
         <li class="nav-item " id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a href="#" class="nav-link dropdown-toggle"> Products</a>
         </li>
         <div class="dropdown-menu" aria-labelledby="dropdown2" style="margin-top: 10px;">
            <a class="dropdown-item" href="list_1.html">list-1</a>
            <a class="dropdown-item" href="list_1.html">list-2</a>
            <a class="dropdown-item" href="list_1.html">list-3</a>
          </div>
   </div>
   
   <div class="dropdown">
      <li class="nav-item " id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <a href="#" class="nav-link dropdown-toggle"> Blog</a>
      </li>
      <div class="dropdown-menu" aria-labelledby="dropdown3" style="margin-top: 10px;">
         <a class="dropdown-item" href="Blog_1.html">Blog-1</a>
         <a class="dropdown-item" href="Blog_1.html">Blog-2</a>
         <a class="dropdown-item" href="Blog_1.html">Blog-3</a>
       </div>
   </div>
    -->
   
         <li class="nav-item">
            <a routerLink="/contact" class="nav-link"> Contact us</a>
         </li>
         
   
       </ul>
   
     </div>
   
    </div> 
   </nav>
   
   <!--  Navbar End  -->
   